* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.card{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    max-width: 375px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    
}

@media (min-width: 600px) {
    .card {
        max-width: 700px;
        flex-direction: row;
        min-height: 450px;
    }
    .card-img,
    .card-content {
        flex: 1 1 50%;
        max-width: 50%;
    }
}

.card-head{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    letter-spacing: 5px;
}

h1{
    font-size: 32px;
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    font-weight: 700;
    line-height: 1;
    margin-bottom: 15px;
}


@media (min-width: 600px) {
    h1 {
        font-size: 36px; 
        line-height: 1.1;
    }
}

p{
    color: hsl(228, 12%, 48%);
    line-height: 1.5;
    font-size: 18px;
    flex-grow: 1;
    margin-bottom: 20px;
}

.card-content{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    flex: 1;
    justify-content: space-between;
 
    
}

@media (min-width: 600px) {
    .card-content {
        padding: 32px;
        gap: 20px;
        flex: 1; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.card-img{
    display: block;
    line-height: 0;
    
    
}

.card-img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
    
@media (min-width: 600px) {
    .card-img {
        flex: 1; 
    }
}

.card-price{
    display: flex;
    align-items: center;
    gap: 20px;
}

.current-price{
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 30px;
}

.original-price{
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

.card-button{
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 15px;
    font-weight: 700;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: auto;
    font-size: 16px;
}

.card-button:hover{
    background-color: hsl(158, 42%, 18%);
}

.card-button:active {
  transform: scale(0.98);
}

.card-button img {
    width: 17px; 
    margin-right: 10px;
}